<footer class="footer">
  <div class="footer-inner">
    <span class="website-url">CLO3D.COM</span>
    <span class="copyright">Copyright © 2022 CLO Virtual Fashion LLC. All Rights Reserved. </span>

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
      <div class="social-container">
        <a href="https://www.facebook.com/clo3d"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1998 15.106H16.0498V24.0001H12.8998V15.106H10.7998V12.1412H12.8998V11.153C12.5952 9.34336 13.3004 7.20007 16.0498 7.20007H19.1998V10.1648H17.0998C16.8384 10.0819 16.3704 10.2352 16.0498 11.153V12.1412H19.1998V15.106Z" fill="#232328"/>
        </svg></a>
        <a href="https://twitter.com/itsclo3d"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.0002 10.32C23.3823 10.3938 22.7175 10.5892 22.1335 10.32C22.7322 10.2268 23.2784 9.5151 24.0002 8.40002C22.8702 9.08241 22.1322 9.3847 21.2002 9.36002C20.7187 8.84139 19.8229 8.40002 18.4002 8.40002C16.9278 8.40002 15.3843 10.028 15.6002 12.24C15.3843 12.3203 15.4149 12.5976 15.6002 13.2C12.6095 12.7123 10.0696 11.2651 8.13353 9.36002C8.07287 9.60185 7.9027 10.2268 8.13353 11.28C7.9027 12.1538 8.51164 13.267 9.06686 14.16C8.87125 13.9 8.33942 13.7366 8.13353 13.2C7.87468 13.479 7.87468 13.4944 8.13353 13.2C7.87468 15.271 9.06326 16.7402 10.9335 17.04C10.3508 17.1574 10.0457 17.2016 10.0002 17.04C9.50924 17.2016 9.29358 17.1791 9.06686 17.04C9.52183 18.5807 10.7945 19.6318 11.8669 19.92C11.1232 20.6366 9.63725 21.2176 8.13353 20.88C7.74436 21.2176 7.46932 21.2005 7.2002 20.88C8.72473 22.1984 10.5369 22.8 12.8002 22.8C18.823 22.8 22.2901 17.2607 22.1335 12.24C22.2901 12.2989 22.2867 12.1419 22.1335 12.24C22.954 11.4739 23.5383 10.8338 24.0002 10.32" fill="#232328"/>
        </svg></a>
        <a href="https://www.instagram.com/itsclo3d/"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3623 6C8.40551 6 6 8.40551 6 11.3623V18.6377C6 21.5945 8.40551 24 11.3623 24H18.6377C21.5945 24 24 21.5945 24 18.6377V11.3623C24 8.40551 21.5944 6 18.6377 6H11.3623ZM7.81079 18.6377V11.3623C7.81079 9.40086 9.40087 7.81081 11.3623 7.81081H18.6377C20.5991 7.81081 22.1892 9.40086 22.1892 11.3623V18.6377C22.1892 20.5991 20.5991 22.1892 18.6377 22.1892H11.3623C9.40087 22.1892 7.81079 20.5991 7.81079 18.6377ZM18.5489 10.3795C18.5489 10.9956 19.0484 11.4951 19.6644 11.4951C20.2806 11.4951 20.78 10.9956 20.78 10.3795C20.78 9.76346 20.2806 9.264 19.6644 9.264C19.0484 9.264 18.5489 9.76346 18.5489 10.3795ZM10.3446 15C10.3446 17.5669 12.433 19.6554 15 19.6554C17.567 19.6554 19.6554 17.567 19.6554 15C19.6554 12.4329 17.567 10.3445 15 10.3445C12.433 10.3445 10.3446 12.433 10.3446 15ZM12.1553 15C12.1553 13.4289 13.429 12.1554 15 12.1554C16.5711 12.1554 17.8446 13.4289 17.8446 15C17.8446 16.571 16.571 17.8446 15 17.8446C13.4289 17.8446 12.1553 16.5711 12.1553 15Z" fill="#232328"/>
        </svg></a>
        <a href="https://www.youtube.com/user/clo3dsoftware"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7238 15.173L13.3914 16.7866C13.3026 16.8296 13.2 16.7639 13.2 16.6641V13.336C13.2 13.2347 13.3053 13.169 13.3942 13.2149L16.7265 14.9293C16.8258 14.9803 16.824 15.1245 16.7238 15.173ZM20.2617 8.40002H9.73832C7.67368 8.40002 6 10.1346 6 12.2742V17.7259C6 19.8655 7.67374 21.6 9.73832 21.6H20.2617C22.3263 21.6 24 19.8655 24 17.7259V12.2742C24 10.1346 22.3263 8.40002 20.2617 8.40002Z" fill="#232328"/>
        </svg></a>
      </div>
    </div>
  </div>
</footer>
